include:
  - project: "waldur/waldur-pipelines"
    file: "/templates/stages.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/check-merge-compatibility.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/lint-md-files.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/release/sync-to-github.yml"

variables:
  GITHUB_OPENNODE_REPO_URL: "git@github.com:opennode/waldur-helm.git"
  GITHUB_WALDUR_REPO_URL: "git@github.com:waldur/waldur-helm.git"

Run linter:
  image:
    name: "registry.hpc.ut.ee/mirror/alpine/helm:3.3.1"
    entrypoint: [""]
  stage: test
  interruptible: true
  rules:
    - if: '$SKIP_TESTS == "true" || $SKIP_TESTS == "yes"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  before_script:
    - apk update
    - apk add jq python3
    - apk add yq --repository=http://dl-cdn.alpinelinux.org/alpine/edge/community
  script:
    - helm lint waldur/
    # lint for correctness of known configuration
    - mkdir rendered-templates && helm template waldur --output-dir rendered-templates/
    - yq e '.data."features.json"' rendered-templates/waldur/templates/config-features-json.yml | jq
    - yq e '.data."config.json"' rendered-templates/waldur/templates/config-homeport-json.yml | jq
    - yq e '.data."override.conf.py"' rendered-templates/waldur/templates/config-override.yaml > rendered-templates/waldur/templates/override.conf.py
    - python3 -m py_compile rendered-templates/waldur/templates/override.conf.py
    - yq e '.data."logging.conf.py"' rendered-templates/waldur/templates/config-mastermind-logging-override.yaml > rendered-templates/waldur/templates/logging.conf.py
    - python3 -m py_compile rendered-templates/waldur/templates/logging.conf.py
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - rendered-templates

.Test template:
  image: $HELM_TEST_IMAGE
  stage: test
  interruptible: true
  before_script:
    - export KUBECONFIG=${K8S_CONFIG_WALDUR_HELM_TEST}
    - apk update
    - apk add curl git
    - kubectl config view
    - kubectl config current-context
    - helm repo add stable https://charts.helm.sh/stable
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - helm repo update
    - helm dependency update waldur/

Test release installation:
  extends: .Test template
  rules:
    - if: '$SKIP_TESTS == "true"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - helm install waldur waldur/ --set ingress.tls.source=secret,global.imageRegistry=registry.hpc.ut.ee/mirror --dry-run --debug

Test release installation and readiness:
  extends: .Test template
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
      allow_failure: true
  script:
    - helm install postgresql bitnami/postgresql --version 9.8.2 -f postgresql-values.yaml --set image.registry=registry.hpc.ut.ee/mirror
    - helm install rmq bitnami/rabbitmq --version 8.15.2 -f rmq-values.yaml --set replicaCount=1,image.registry=registry.hpc.ut.ee/mirror --wait
    - helm install waldur waldur/ --set ingress.tls.source=secret,rabbitmq.host=rmq-rabbitmq,global.imageRegistry=registry.hpc.ut.ee/mirror --wait --timeout 60m0s
    - helm list
    - kubectl get pods
  after_script:
    - export KUBECONFIG=${K8S_CONFIG_WALDUR_HELM_TEST}
    - export RELEASES=$(helm ls --short)
    - echo $RELEASES
    - |
      if [ "$RELEASES" ]; then
        echo "[+] There are the following releases in Helm for removal: $RELEASES"
        echo "[+] Removing all of them"
        helm uninstall $RELEASES
      else
        echo "[+] There are no Helm releases for removal"
      fi
    - kubectl delete pvc data-postgresql-waldur-0 || true
    - kubectl delete pvc data-rmq-rabbitmq-0 || true

Sync to UT HPC GitLab:
  extends: Sync to github
  variables:
    GITHUB_OPENNODE_REPO_URL: "git@gitlab.hpc.ut.ee:waldur/waldur-helm.git"
    GITHUB_WALDUR_REPO_URL: ""

Upload docs:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/git:v2.30.2
    entrypoint: [""]
  stage: deploy
  interruptible: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "schedule"'
  script:
    - cd /tmp/
    - git clone "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/waldur/waldur-docs.git"
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - cd waldur-docs/
    - cp -v $CI_PROJECT_DIR/README.md docs/admin-guide/deployment/helm/index.md
    - cp -rv $CI_PROJECT_DIR/docs/ docs/admin-guide/deployment/helm/
    - git add docs/admin-guide/deployment/helm/
    - git commit -m 'Update Waldur Helm docs' || exit 0
    - git branch new-configuration-guide
    - git push --set-upstream origin new-configuration-guide:master
