image:
  registry: "docker.io"
  repository: "bitnami/rabbitmq"
  tag: 3.8.14

replicaCount: 3
persistence:
  enabled: true
  size: "10Gi"
  storageClass: ""
auth:
  username: "waldur"
  password: "waldur"

clustering:
  forceBoot: true
