apiVersion: apps/v1
kind: Deployment
metadata:
  name: waldur-mastermind-api
  labels:
{{ include "waldur.labels" . | indent 4 }}
spec:
  replicas: {{ default 1 .Values.replicaCount.api }}
  selector:
    matchLabels:
      app: waldur-mastermind-api
  template:
    metadata:
      labels:
        app: waldur-mastermind-api
    spec:
      {{ if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range $i, $val := .Values.imagePullSecrets }}
        - name: {{ $val }}
        {{ end -}}
      {{ end }}
      {{ if .Values.hostAliases }}
      hostAliases:
        {{ toYaml .Values.hostaliases | nindent 8 }}
      {{ end }}
      containers:
        - name: waldur-mastermind-api
          image: {{ .Values.global.imageRegistry }}/{{ .Values.waldur.imageName }}:{{ .Values.waldur.imageTag }}
          imagePullPolicy: {{ .Values.waldur.pullPolicy }}
          args:
            - "mastermind"
          livenessProbe:
            exec:
              command:
                - pgrep
                - uwsgi
            initialDelaySeconds: 5 # it takes around 5 sec to spawn UWSGI processes
            periodSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              port: 8080
              path: /api/configuration/
            initialDelaySeconds: 50 # it takes around a minute to completely start UWSGI server
            periodSeconds: 10
            failureThreshold: 100 # Mastermind can wait long for DB migrations
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            {{- include "waldur.credentials" . | nindent 13 }}
          {{ if .Values.waldur.disabledExtensions }}
          - name: WALDUR_DISABLED_EXTENSIONS
            value: {{ .Values.waldur.disabledExtensions | toJson | quote }}
          {{ end }}
          resources:
            {{ if .Values.hpa.api.enabled }}
            {{- toYaml .Values.hpa.api.resources | nindent 12 }}
            {{ else }}
            {{- toYaml .Values.apiResources | nindent 12 }}
            {{ end }}
          volumeMounts:
            - name: api-override
              mountPath: /etc/waldur/override.conf.py
              subPath: override.conf.py
            - name: api-celery
              mountPath: /etc/waldur/celery.conf
              subPath: celery.conf
            - name: icons
              mountPath: /etc/waldur/icons
            {{ if has "SAML2" .Values.waldur.authMethods }}
            - name: waldur-saml2-certs
              mountPath: /etc/waldur/saml2/credentials
            - name: waldur-saml2-conf
              mountPath: /etc/waldur/saml2.conf.py
              subPath: saml2.conf.py
            {{ end }}
            {{ if has "VALIMO" .Values.waldur.authMethods }}
            - name: waldur-valimo-certs
              mountPath: /etc/waldur/valimo
            {{ end }}
            {{ if .Values.waldur.ssh_public_key_path }}
            - name: waldur-ssh-pub-key
              mountPath: /etc/waldur/id_rsa.pub
              subPath: id_rsa.pub
            {{ end }}
            {{ if .Values.waldur.ssh_private_key_path }}
            - name: waldur-ssh-key
              mountPath: /etc/waldur/id_rsa
              subPath: id_rsa
            {{ end }}
            {{ if .Values.waldur.marketplace.script.enabled }}
            - name: waldur-script-kubeconfig
              mountPath: /etc/waldur/kubeconfig
              subPath: kubeconfig
              readOnly: true
            {{ end }}
      volumes:
      - name: api-override
        configMap:
          name: api-override-config
      - name: api-celery
        configMap:
          name: api-celery-config
      - name: icons
        configMap:
          name: icons-config
      {{ if has "SAML2" .Values.waldur.authMethods }}
      - name: waldur-saml2-certs
        secret:
          secretName: waldur-saml2-secret
      - name: waldur-saml2-conf
        configMap:
          name: waldur-saml2-conf-config
      {{ end }}
      {{ if has "VALIMO" .Values.waldur.authMethods }}
      - name: waldur-valimo-certs
        secret:
          secretName: waldur-valimo-secret
      {{ end }}
      {{ if .Values.waldur.ssh_public_key_path }}
      - name: waldur-ssh-pub-key
        configMap:
          name: waldur-ssh-pub-key-config
      {{ end }}
      {{ if .Values.waldur.ssh_private_key_path }}
      - name: waldur-ssh-key
        secret:
          secretName: waldur-ssh-key-config
          defaultMode: 0600
      {{ end }}
      {{ if .Values.waldur.marketplace.script.enabled }}
      - name: waldur-script-kubeconfig
        secret:
          secretName: waldur-script-kubeconfig
      {{ end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
