{{ if .Values.waldur.metricsExporter.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: waldur-metrics-exporter
  labels:
{{ include "waldur.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: waldur-metrics-exporter
  template:
    metadata:
      labels:
        app: waldur-metrics-exporter
        {{ include "waldur.labels" . | nindent 8 }}
    spec:
      {{ if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range $i, $val := .Values.imagePullSecrets }}
        - name: {{ $val }}
        {{ end -}}
      {{ end }}
      {{ if .Values.hostAliases }}
      hostAliases:
        {{ toYaml .Values.hostAliases | nindent 8 }}
      {{ end }}
      containers:
      - name: waldur-metrics-exporter
        image: {{ .Values.global.imageRegistry }}/opennode/waldur-prometheus-exporter:{{ .Values.waldur.imageTag }}
        imagePullPolicy: {{ include "waldur.imagePullPolicy" (dict "tag" .Values.waldur.imageTag "Values" .Values) }}
        livenessProbe:
          httpGet:
            port: 8080
            path: /metrics/
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            port: 8080
            path: /metrics/
          initialDelaySeconds: 3
          periodSeconds: 3
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
        env:
          - name: WALDUR_API_URL
            value: "http://waldur-mastermind-api:80/api/"
          {{ if .Values.waldur.supportTokenExistingSecret.name }}
          - name: WALDUR_API_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ .Values.waldur.supportTokenExistingSecret.name }}
                key: {{ .Values.waldur.supportTokenExistingSecret.key }}
          {{ else if .Values.waldur.supportToken }}
          - name: WALDUR_API_TOKEN
            valueFrom:
              secretKeyRef:
                name: waldur-secret
                key: WALDUR_SUPPORT_API_TOKEN
          {{ end }}
        {{- with .Values.nodeSelector }}
        nodeSelector:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.affinity }}
        affinity:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.tolerations }}
        tolerations:
          {{- toYaml . | nindent 8 }}
        {{- end }}
{{ end }}
