{{ if .Values.waldur.uvkEverypay.enabled }}
{{- if or ( gt .Capabilities.KubeVersion.Major "1" ) ( ge .Capabilities.KubeVersion.Minor "19" ) }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: uvk-everypay-ingress
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{ if .Values.ingress.tls.source | eq "letsEncrypt" }}
    cert-manager.io/cluster-issuer: letsencrypt-prod-issuer
    {{ end }}
    nginx.ingress.kubernetes.io/whitelist-source-range: 52.30.154.251, 52.31.43.193 # IPs of Everypay servers
spec:
  rules:
  - host: {{ .Values.apiHostname }}
    http:
      paths:
      - path: /uvk-everypay/(.*)
        pathType: Prefix
        backend:
          service:
            name: waldur-uvk-everypay
            port:
              number: 8000
  tls:
  - hosts:
    - {{ .Values.apiHostname }}
    secretName: api-certificate
{{ end }}
