{{- if .Values.ingress.enabled }}
{{- if or ( gt .Capabilities.KubeVersion.Major "1" ) ( ge .Capabilities.KubeVersion.Minor "19" ) }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: homeport-ingress
  annotations:
    {{ $customSentryUrl443 := "" }}
    {{ $customSentryUrl80 := "" }}
    {{ if .Values.waldur.homeport.customSentryURL }}
      {{ $customSentryUrl443 = (print .Values.waldur.homeport.customSentryURL ":443") }}
      {{ $customSentryUrl80 = (print .Values.waldur.homeport.customSentryURL ":80") }}
    {{ end }}
    {{ if eq .Values.ingress.className "nginx" }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,sentry-trace,baggage,X-Impersonated-User-Uuid"
    nginx.ingress.kubernetes.io/cors-expose-headers: "Link, X-Result-Count"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Content-Security-Policy: base-uri 'self'; object-src 'none'; media-src 'none'; script-src 'self' sentry.opnd.org {{ .Values.waldur.homeport.customSentryURL }} {{ .Values.waldur.homeport.matomoUrlBase }}; style-src 'self' 'unsafe-inline'; img-src 'self' *.tile.openstreetmap.org {{ .Values.apiHostname }} blob: data: ; connect-src 'self' {{ .Values.apiHostname }} {{ .Values.waldur.homeport.matomoUrlBase }} nominatim.openstreetmap.org:443 sentry.opnd.org:443 sentry.opnd.org:80 {{ $customSentryUrl80 }} {{ $customSentryUrl443 }}; font-src 'self' data: ; frame-src 'none'; frame-ancestors 'none'";
    {{ if .Values.ingress.whitelistSourceRange }}
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ else if or (eq .Values.ingress.className "openshift-default") (eq .Values.ingress.className "haproxy") }}
    haproxy.org/cors-enable: "true"
    haproxy.org/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,sentry-trace,baggage,X-Impersonated-User-Uuid"
    haproxy.org/cors-expose-headers: "Link, X-Result-Count"
    haproxy.org/ssl-redirect: "true"
    {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | eq "cluster") }}
    route.openshift.io/termination: "edge"
    {{ end }}
    haproxy.org/backend-config-snippet: |
      http-response set-header Content-Security-Policy "base-uri 'self'; object-src 'none'; media-src 'none'; script-src 'self' sentry.opnd.org {{ .Values.waldur.homeport.customSentryURL }} {{ .Values.waldur.homeport.matomoUrlBase }}; style-src 'self' 'unsafe-inline'; img-src 'self' *.tile.openstreetmap.org {{ .Values.apiHostname }} blob: data: ; connect-src 'self' {{ .Values.apiHostname }} {{ .Values.waldur.homeport.matomoUrlBase }} nominatim.openstreetmap.org:443 sentry.opnd.org:443 sentry.opnd.org:80 {{ $customSentryUrl80 }} {{ $customSentryUrl443 }}; font-src 'self' data: ; frame-src 'none'; frame-ancestors 'none'";
    {{ if .Values.ingress.whitelistSourceRange }}
    haproxy.org/whitelist: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ end }}
    {{ if and .Values.ingress.tls.enabled (eq .Values.ingress.tls.source "letsEncrypt") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod-issuer
    {{ end }}
spec:
  {{ if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{ end }}
  rules:
  {{ if .Values.localHomeportHostname }}
  - host: {{ .Values.localHomeportHostname }}
  {{ else }}
  - host: {{ .Values.homeportHostname }}
  {{ end }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: waldur-homeport
            port:
              number: 80
  {{ if .Values.homeportExtraHosts }}
  {{- range .Values.homeportExtraHosts }}
  - host: {{ . }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: waldur-homeport
            port:
              number: 80
  {{- end }}
  {{ end }}
  {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | ne "cluster") }}
  tls:
  - hosts:
    - {{ .Values.homeportHostname }}
    {{ if .Values.homeportExtraHosts }}
    {{- range .Values.homeportExtraHosts }}
    - {{ . }}
    {{- end }}
    {{ end }}
    {{ if .Values.ingress.tls.customHomeportSecretName }}
    secretName: {{ .Values.ingress.tls.customHomeportSecretName | quote }}
    {{ else }}
    secretName: homeport-certificate
    {{ end }}
  {{ end }}
{{ end }}
