{{ if and .Values.ingress.enabled .Values.waldur.uvkEverypay.enabled }}
{{- if or ( gt .Capabilities.KubeVersion.Major "1" ) ( ge .Capabilities.KubeVersion.Minor "19" ) }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: uvk-everypay-ingress
  annotations:
    {{ if eq .Values.ingress.className "nginx" }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{ else if or (eq .Values.ingress.className "openshift-default") (eq .Values.ingress.className "haproxy") }}
    haproxy.org/path-rewrite: /uvk-everypay/(.*) /\1
    haproxy.org/ssl-redirect: "true"
    {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | eq "cluster") }}
    route.openshift.io/termination: "edge"
    {{ end }}
    {{ end }}
    {{ if and .Values.ingress.tls.enabled (eq .Values.ingress.tls.source "letsEncrypt") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod-issuer
    {{ end }}
spec:
  {{ if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{ end }}
  rules:
  {{ if .Values.localApiHostname }}
  - host: {{ .Values.localApiHostname }}
  {{ else }}
  - host: {{ .Values.apiHostname }}
  {{ end }}
    http:
      paths:
      - path: /uvk-everypay/(.*)
        pathType: Prefix
        backend:
          service:
            name: waldur-uvk-everypay
            port:
              number: 8000
  {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | ne "cluster") }}
  tls:
  - hosts:
    - {{ .Values.apiHostname }}
    secretName: api-certificate
  {{ end }}
{{ end }}
