{{- if or ( gt .Capabilities.KubeVersion.Major "1" ) ( ge .Capabilities.KubeVersion.Minor "19" ) }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: api-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,sentry-trace,baggage
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{ if and .Values.ingress.tls.enabled (eq .Values.ingress.tls.source "letsEncrypt") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod-issuer
    {{ end }}
    {{ if .Values.ingress.whitelistSourceRange }}
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
spec:
  rules:
  - host: {{ .Values.apiHostname }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /api-auth
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /docs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /admin
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /static
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /apidocs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /media
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
      - path: /health-check
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 8080
  {{ if and .Values.ingress.tls.enabled }}
  tls:
  - hosts:
    - {{ .Values.apiHostname }}
    secretName: api-certificate
  {{ end }}
