{{- if and .Values.ingress.enabled (or (.Values.waldur.rabbitmqEvents.mqttEnabled | default false) (.Values.waldur.rabbitmqEvents.stompEnabled | default false)) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rabbitmq-ws
  annotations:
    {{ if eq .Values.ingress.className "nginx" }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /ws
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{ if .Values.ingress.whitelistSourceRange }}
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ else if or (eq .Values.ingress.className "openshift-default") (eq .Values.ingress.className "haproxy") }}
    haproxy.org/cors-enable: "true"
    haproxy.org/path-rewrite: "/ws"
    haproxy.org/ssl-redirect: "true"
    {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | eq "cluster") }}
    route.openshift.io/termination: "edge"
    {{ end }}
    {{ if .Values.ingress.whitelistSourceRange }}
    haproxy.org/allow-list: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ end }}
    {{ if and .Values.ingress.tls.enabled (eq .Values.ingress.tls.source "letsEncrypt") }}
    cert-manager.io/cluster-issuer: {{ .Values.ingress.tls.clusterIssuerName | default "letsencrypt-prod-issuer" }}
    {{ end }}
spec:
  {{ if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{ end }}
  rules:
  {{ if .Values.localApiHostname }}
  - host: {{ .Values.localApiHostname }}
  {{ else }}
  - host: {{ .Values.apiHostname }}
  {{ end }}
    http:
      paths:
      - path: /rmqws
        pathType: Prefix
        backend:
          service:
            name: {{ include "waldur.rabbitmq.rmqHost" . | quote }}
            port:
              number: 15675
      - path: /rmqws-stomp
        pathType: Prefix
        backend:
          service:
            name: {{ include "waldur.rabbitmq.rmqHost" . | quote }}
            port:
              number: 15674
  {{ if and .Values.ingress.tls.enabled (.Values.ingress.tls.source | ne "cluster") }}
  tls:
  - hosts:
    - {{ .Values.apiHostname }}
    {{ if .Values.ingress.tls.customMastermindSecretName }}
    secretName: {{ .Values.ingress.tls.customMastermindSecretName | quote }}
    {{ else }}
    secretName: api-certificate
    {{ end }}
  {{ end }}
{{ end }}
