{{- if or ( gt .Capabilities.KubeVersion.Major "1" ) ( ge .Capabilities.KubeVersion.Minor "19" ) }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: api-ingress
  annotations:
    {{ if eq .Values.ingress.className "nginx" }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    # This sets the file upload size limit for ingress.
    # Additional settings for file upload sizes for different endpoints are in mastermind.conf, in mastermind nginx.
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,sentry-trace,baggage,X-Impersonated-User-Uuid"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{ if .Values.ingress.whitelistSourceRange }}
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ else if or (eq .Values.ingress.className "openshift-default") (eq .Values.ingress.className "haproxy") }}
    haproxy.org/cors-enable: "true"
    haproxy.org/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,sentry-trace,baggage,X-Impersonated-User-Uuid"
    haproxy.org/ssl-redirect: "true"
    {{ if .Values.ingress.whitelistSourceRange }}
    haproxy.org/whitelist: "{{ .Values.ingress.whitelistSourceRange }}"
    {{ end }}
    {{ end }}
    {{ if and .Values.ingress.tls.enabled (eq .Values.ingress.tls.source "letsEncrypt") }}
    cert-manager.io/cluster-issuer: letsencrypt-prod-issuer
    {{ end }}
spec:
  {{ if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{ end }}
  rules:
  - host: {{ .Values.apiHostname }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /api-auth
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /docs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /apidocs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /health-check
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
  {{ if .Values.apiExtraHosts }}
  {{- range .Values.apiExtraHosts }}
  - host: {{ . }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /api-auth
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /docs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /apidocs
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
      - path: /health-check
        pathType: Prefix
        backend:
          service:
            name: waldur-mastermind-api
            port:
              number: 80
  {{- end }}
  {{ end }}
  {{ if .Values.ingress.tls.enabled }}
  tls:

  {{- if eq .Values.ingress.className "openshift-default" }}
  # In OpenShift, the backend will create secure Route with default TLS parameters
  # Docs link: https://docs.openshift.com/container-platform/4.17/networking/routes/route-configuration.html#nw-ingress-edge-route-default-certificate_route-configuration
  - {}
  {{- else }}
  - hosts:
    - {{ .Values.apiHostname }}
    {{ if .Values.apiExtraHosts }}
    {{- range .Values.apiExtraHosts }}
    - {{ . }}
    {{- end }}
    {{ end }}
    {{ if .Values.ingress.tls.customMastermindSecretName }}
    secretName: {{ .Values.ingress.tls.customMastermindSecretName | quote }}
    {{ else }}
    secretName: api-certificate
    {{ end }}
  {{- end -}}
  {{ end }}
