{{- $kubeconfigSecret := dig "marketplace" "script" "kubeconfigSecret" (dict) .Values.waldur -}}
{{ if and .Values.waldur.marketplace.script.enabled (not (and (get $kubeconfigSecret "name") (get $kubeconfigSecret "key"))) }}
apiVersion: v1
kind: Secret
metadata:
  name: waldur-script-kubeconfig
type: Opaque
data:
  kubeconfig: |-
{{ if .Values.waldur.marketplace.script.kubeconfig }}
{{ .Values.waldur.marketplace.script.kubeconfig | b64enc | indent 4 }}
{{ else }}
{{ .Files.Get .Values.waldur.marketplace.script.kubeconfigPath | b64enc | indent 4 }}
{{ end }}

{{ end }}
