# Default values for waldur.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

extraReplicas:
  celery:
  api:

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

apiHostname: waldur.local
homeportHostname: waldur.local

affinity: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

hpa:
  api:
    enabled: false
    resources:
      requests:
        cpu: 500m
    cpuUtilizationBorder: 70
  celery:
    enabled: false
    workerResources:
      requests:
        cpu: 2000m
    beatResources:
      requests:
        cpu: 300m
    cpuUtilizationBorder: 80

nodeSelector: {}

tolerations: []

service:
  type: ClusterIP
  port: 80

storageClassName: local-storage

ingress:
  tls:
    source: "letsEncrypt" # Possible values: `letsEncrypt` and `secret`
    secretsDir: "tls"  # Enabled only if source == `secret`

logManagement:
  enabled: true
  elasticHost: "elasticsearch-master.elastic.svc.cluster.local" ## See docs/service-endpoint.md for details.
  elasticPort: "9200"
  elasticProtocol: "http"

waldur:
  imageTag: latest
  pullPolicy: Always
  apiUrl: "https://waldur.local/" ## NB: this string must match `https://<hostname>/` pattern (or similar with `http` protocol)
  homeportUrl: ""
  emailHost: ""
  notificationSubject: ""
  timeZone: "UTC"
  features: []
  currencyName: "EUR"
  defaultFromEmail: ""
  site:
    name: "Waldur"
    logo: ""
    address: ""
    email: ""
    phone: ""
  defaultLanguage: "en"
  languageChoices: 
    - en
    - et
    - de
    - es
    - ru
    - lv
    - it
  authMethods: 
    - LOCAL_SIGNIN
  facebook:
    secret: ""
    clientId: ""
  google:
    secret: ""
    clientId: ""
  smartid:
    secret: ""
    clientId: ""
  tara:
    secret: ""
    clientId: ""
  eduteams:
    label: "Eduteams"
    clientId: ""
    secret: ""
    authUrl: "https://proxy.acc.eduteams.org/saml2sp/OIDC/authorization"
    tokenUrl: "https://proxy.acc.eduteams.org/OIDC/token"
    userinfoUrl: "https://proxy.acc.eduteams.org/OIDC/userinfo"
  ldap:
    host: ""
    baseDN: ""
    userDN: ""
    user: ""
    password: ""
    admins: ""
    support: ""
  freeipa:
    hostname: ""
    password: ""
    username: ""
    verifySSL: ""
    groupnamePrefix: ""
    usernamePrefix: ""
  valimo:
    apId: ""
    apPwd: ""
    dnsname: ""
    url: ""
    signatureProfile: ""
    label: ""
    mobilePrefix: ""
  paypal:
    secret: ""
    clientId: ""
  analytics:
    databaseName: ""
  ansible:
    sshPublicKeyUUID: ""
  invoice:
    company: ""
    address: ""
    country: ""
    email: ""
    postalCode: ""
    phoneCountryCode: ""
    phoneNationalNumber: ""
    bank: ""
    bankAccount: ""
    vatCode: ""
    paymentInterval: ""
  slurm:
    customerPrefix: ""
    projectPrefix: ""
    allocationPrefix: ""
  support:
    customBackend: ""
    servicedeskEmail: ""
    servicedeskToken: ""
    servicedeskUsername: ""
    servicedeskPassword: ""
    servicedeskUrl: ""
    organizationField: ""
    projectKey: ""
    homeportIssueUrl: ""
  marketplace:
    openstack:
      instanceCategoryUUID: ""
      volumeCategoryUUID: ""
      tenantCategoryUUID: ""
  uwsgi:
    plugins: python36
    processes: 16
  sentryDSN: ""
  whitelabeling:
    shortPageTitle: ""
    modePageTitle: ""
    loginLogoUrl: ""
    loginLogoPath: ""
    sidebarLogoUrl: ""
    sidebarLogoPath: ""
    poweredByLogoUrl: ""
    poweredByLogoPath: ""
    faviconPath: ""
    logo96Path: ""
    logo144Path: ""
    logo192Path: ""
    manifestJsonPath: ""
    tosHtmlPath: ""
    privacyHtmlPath: ""
  mastermindTemplating:
    mastermindTemplatesPath: "mastermind_templates"
  saml2:
    enabled: false
    dir: "waldur_saml2"
  homeport:
    googleAnalyticsID: ""
    userMandatoryFields: {}
    userRegistrationHiddenFields: {}

bootstrap:
  enabled: false
  script: "bootstrap.sh"
  dir: "bootstrap"

postgresql:
  enabled: true
  postgresqlDatabase: waldur
  postgresqlUsername: waldur
  postgresqlPassword: waldur
  persistence:
    size: 10Gi
  image:
    tag: 12
  exisitingSecret: ""

postgresql-ha:
  enabled: false
  postgresql:
    database: waldur
    username: waldur
    password: waldur
    exisitingSecret: ""
    replicaCount: 3
    syncReplication: false
    repmgrUsername: repmgr
    repmgrPassword: waldur
  persistence:
    size: 10Gi
  pgpoolImage:
    tag: 4
  postgresqlImage:
    tag: 12

postgresBackup:
  enabled: false
  schedule: "0 5 * * *"
  rotationSchedule: "0 6 * * 6"
  retentionDays: 365
  minNumber: 10
  image: opennode/postgres-minio:0.1.0

minio:
  accessKey: ""
  secretKey: ""
  bucketName: data
  ## min.io service endpoint used for communication inside a cluster
  endpoint: "http://minio.default.svc.cluster.local:9000" ## See docs/service-endpoint.md for details.

rabbitmq:
  user: "waldur"
  password: "waldur"
  ## hostname of rabbitmq service
  host: "rmq-rabbitmq.default.svc.cluster.local" ## See docs/service-endpoint.md for details.
  customManagementPort:
  customAMQPPort:

stressTesting:
  enabled: false
  locustFilePath: "locust_task/locust_test.py"
